asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==3.2.21
djangorestframework==3.14.0
pytz==2023.3
sqlparse==0.4.4
tomli==2.0.1
typing-extensions==4.7.1
gunicorn==21.2.0
dj-database-url==2.1.0
psycopg2-binary==2.9.7
